* {
  margin: 0;
  padding: 0;
}

:root {
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;

}

body {
  background: url(../assets/background/Background_Intro.png) no-repeat center/cover;
  background-color: var(--gray-200);
  width: 100%px;
  height: 750px;
}

#portfoliocomeco {
  margin: 0px auto;
  width: 100%px;
  height: 600px;
}

img {
  margin: 48px auto;
  display: grid;
  align-items: center;
}

div > h2 {
  margin-top: 56px auto;
  text-align: center;
  font-family: 'Inconsolata';
  color: var(--gray-500);
  font-weight: 400;
}

h2 > span {
  color: #E3646E;
}

h1 {
  margin-top: 8px;
  margin-bottom: 20px;
  font-family: 'Asap';
  color: var(--gray-600);
  text-align: center;
  font-size: 56px;
}

#p1 {
  margin: auto;
  width: 780px;
  height: 40px;
  text-align: center;
  font-family: 'Maven Pro';
  color: var(--gray-400);
}

#tecnologia {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 16px;

  width: 200px;
  height: 150px;
}

#github {
  margin: 80px auto 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;

  width: 91px;
  height: 30px;

  background: #292C34;
  border-radius: 999px;

  color: var(--gray-400);
  font-family: 'Maven Pro';
  font-weight: 400;
  font-size: 16px;
  
  flex: none;
  order: 0;
  flex-grow: 0;

}

#html {
  margin: 80px auto 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;

  width: 91px;
  height: 30px;

  color: var(--gray-400);
  font-family: 'Maven Pro';
  font-weight: 400;
  font-size: 16px;

  background: #292C34;
  border-radius: 999px;

  flex: none;
  order: 1;
  flex-grow: 0;

}